body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,0,177,1) 100%, rgba(0,212,255,1) 100%);
}

.App {
  display: grid;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  width:50%;
  height: auto;
  flex-wrap: wrap;
}


.button {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 20px;
}

.title {
  width: 100%;
  display: flex;
  font-size: large;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}