.App {
  display: grid;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  width:50%;
  height: auto;
  flex-wrap: wrap;
}


.button {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 20px;
}

.title {
  width: 100%;
  display: flex;
  font-size: large;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}